<link rel="stylesheet" type="text/css" href="style.css">

<div class="faq-container accordion">
     <div class="accordion-item">
         <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">The Question</span><span class="icon" aria-hidden="true"></span></button>
         <div class="accordion-content">
             <p>The Answer</p>
         </div>
     </div>
     <div class="accordion-item">
         <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">The Question</span><span class="icon" aria-hidden="true"></span></button>
         <div class="accordion-content">
             <p>The Answer</p>
         </div>
     </div>
 </div>
 
 <script src="script.js"></script> 
 