.accordion {
         margin-top: 2rem;
     }

     .accordion .accordion-item {
         margin-bottom: 1rem;
     }

     .accordion button {
         position: relative;
         display: flex;
         align-items: center;
         text-align: left;
         width: 100%;
         padding: 0.6rem 1rem;
         font-size: 16px;
         font-size: 1rem;
         font-weight: 400;
         border: none;
         outline: none;
         text-transform: inherit;

     }

     .accordion button:hover,
     .accordion button:focus {
         cursor: pointer;
     }

     .accordion button:hover::after,
     .accordion button:focus::after {
         cursor: pointer;
     }

     .accordion button .accordion-title {
         margin-right: 10px;
     }

     .accordion button .icon {
         display: inline-block;
         position: relative;
         margin-left: auto;
         min-width: 32px;
         min-height: 32px;

     }

     .accordion button .icon::before,
     .accordion button .icon::after {
         display: block;
         position: absolute;
         content: "";
         background: #000;

     }


     .accordion button .icon::before {
        
         top: 15px;
         left: 10px;
         width: 10px;
         height: 1px;

     }

     .accordion button .icon::after {

         top: 10px;
         left: 14px;
         width: 1px;
         height: 10px;
        
     }

     .accordion button[aria-expanded=true] {
         background: #666;
     }

     .accordion button[aria-expanded=true] .icon::after {
         width: 0;
     }

     .accordion button[aria-expanded=true]+.accordion-content {
         opacity: 1;
         display: block;
         padding: 0 3rem;
         transition: all 200ms linear;
         text-align: left;
     }

     .accordion .accordion-content {
         opacity: 0;
         display: none;
         overflow: hidden;
         text-align: left;
         transition: opacity 200ms linear;
     }

     .accordion .accordion-content p {
         -webkit-transition: all 0.25s ease;
         -o-transition: all 0.25s ease;
         transition: all 0.25s ease;
     }

     .accordion .accordion-content p {
         margin: 1rem 0 0 0;
     }