<link rel="stylesheet" type="text/css" href="style.css">

<div class="tabs js-tabs is-initialized">
            <ul role="tablist" class="tabs__tab-list">
                <li role="presentation">
                    <a href="#tab1" role="tab" aria-controls="power" class="tabs__trigger js-tab-trigger is-selected" aria-selected="true" tabindex="0">Tab 1</a>
                </li>
                <li role="presentation">
                    <a href="#tab2" role="tab" aria-controls="sail" class="tabs__trigger js-tab-trigger" aria-selected="false" tabindex="-1">Tab 2</a>
                </li>
            </ul>
            <section id="tab1" role="tabpanel" class="tabs__panel js-tab-panel" aria-hidden="false" tabindex="0">
                <p>Tab 1 Content</p>
            </section>
            <section id="tab2" role="tabpanel" class="tabs__panel js-tab-panel is-hidden" aria-hidden="true" tabindex="-1">
               <p>Tab 2 Content</p>
            </section>
        </div>
 
 <script src="script.js"></script> 
 