.tabs__tab-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.tabs__tab-list li {
  width: 50%;
}

.tabs__trigger {
  background: white;
  border: 1px solid #000;
  color: #000;
  display: block;
  margin: 0 5px;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
}
.tabs__trigger.is-selected {
  background: #000;
  color: #fff;
}
.tabs__trigger:visited {
  color: none;
}
.tabs__trigger:hover {
  background: #000;
  color: #fff;
}
@media (min-width: 767px) {
  .tabs__trigger {
    font-size: 28.8px;
    font-size: 1.8rem;
  }
}

.tabs__panel {
  margin: 2rem 5px;
  display: none;
}
.is-initialized .tabs__panel {
  display: inherit;
}
.tabs__panel.is-hidden {
  display: none;
}